/mysql
/performance_schema
/phpmyadmin
/test
/aria_log.00000001
/aria_log_control
/ib_buffer_pool
/ib_logfile0
/ib_logfile1
/ibdata1
/ibtmp1
/multi-master.info
/my.ini
/mysql.pid
/mysql_error.log
test
aria_log.00000001
aria_log_control
ib_buffer_pool
ib_logfile0
ib_logfile1
ibdata1
ibtmp1
multi-master.info
my.ini
mysql.pid
mysql_error.log
mysql
performance_schema
phpmyadmin
